body {
    font-family: Arial, sans-serif;
    background-color: #292525;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #a09797;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #f1ebeb;
    
    
}

.search-container {
    display: flex;
    margin-bottom: 20px;
    
}

#city-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #45a049;
}

.weather-info {
    text-align: center;
}

.weather-info h2 {
    margin-bottom: 10px;
    color: #f3e2e2;
}

.weather-info p {
    margin: 5px 0;
    color: #f1e9e9;
}
